.section-home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 75px;
}

.section-home>img {
    display: flex;
    align-items: center;
    width: 550px;
}

.section-home>div {
    width: 445px;
}

.section-home>div>h1 {
    color: var(--preto);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
}

.section-home>div>p {
    color: var(--cinza);
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 45px;
}

.section-home>div>button {
    width: 200px;
    height: 60px;
    border-radius: 55px;
    background-color: var(--azul);

    font-size: 17px;
    font-weight: 700;
    color: var(--branco);

    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.section-home>div>button:hover {
    background-color: var(--branco);
    border: 1px solid var(--azul);
    color: var(--azul);
}