@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --azul: #458FF6;
  --branco: #fff;
  --marinho: #233348;
  --cinza: #7D7987;
  --roxao: #1F1534;
  --preto: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family: 'Mulish';
}